html, body {
    height: 100%;
    width: 100%;
    color: black;

}

.container-fluid {
  size: 100% 100%;
  overflow: hidden;
}

.row-header {
  background: black;
  padding-top: 12px;
  padding-bottom: 20px;

}

 h1 {
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.4px;
  float: top;
  text-shadow: 2px 2px 2px silver;
  color: white;
  font-weight: bold;
  font-size: 3em;

}

.create-pizza {
  background: red;
  border-right: 3px solid black;
  padding-bottom: 14px;
  margin-top: 1px;
}

.create-pizza h2 {
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  color: black;
  font-style: normal;
  font-variant: normal;
  font-weight: bolder;
  line-height: 20px;
  font-size: 2.6em;
  text-shadow: -1px -1px 1px white;
  text-align: center;

}

.type-of-item {
  padding-top: 13px;
}

.type-of-item h4 {
  font-weight: bold;
  font-size: 2em;
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}



.confirm-order {
  background: black;

}

.confirm-order h1 {
  color: green;
  padding-bottom: 10px;
  text-shadow: -1px -1px 1px white;

}

.topping-select  {
  border: 3px solid black;
  background: red;
  text-shadow: 1px 1px 1px black;
}

.topping-select p {
  font-weight: bold;
}

.sauce-row {
  background: green;
  color: white;
  padding-top: 5px;
  padding-bottom: 18px;
}

.cheese-row {
  background: white;
  padding-top: 5px;
  padding-bottom: 18px;
}

.veggies-row {
  background: red;
  color: white;
  padding-top: 5px;
  padding-bottom: 18px;
}

.meats-row {
  background: green;
  color: white;
  padding-top: 5px;
  padding-bottom: 18px;
}

.seasoning-row {
  background: white;
  color: black;
  padding-top: 5px;
  padding-bottom: 18px;
}

#special-seasonings {
  font-size: 1.6em;
}

.pizza-info p {
  background: green;
  font-size: 1.8em;
  text-align: center;
  padding-bottom: 6px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 3px black;
}

.selection-display {
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

.selection-display ul {
  font-size: 1.2em;
}

.purchase-col {
  background-color: black;
  padding-bottom: 16px;
}

.purchase-col p {
  color: white;
  background-color: red;
  border: 2px solid white;
  font-weight: bold;
  text-shadow: -1px -1px 1px silver;
  text-align: center;
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 1.9em;
}

.radio  {
  padding-left: 27px;
  padding-bottom: 4px;
  text-shadow: 1px 1px 2px black;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

.choosingSize {
  background-color: white;
}

.choosingSize p{
  text-shadow: 2px 2px 2px black;
}
.totals-display {
  font-weight: bold;
  font-size: 4em;
  text-shadow: 2px 2px 4px;
}

.total {

}

.clear-pizza {
  background: red;
  border: 3px solid white;
  width: 130px;
  height: 50px;
  float: right;
  margin-top: -58px;
}

.clear-pizza p {
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 7px;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

.clear-pizza p:hover {
  color: black;
  text-shadow: 3px 3px 3px black;
}

.update-order {
  float: none;
  height: 45px;
  width: 100%;
  background: green;
  color: green;
  border: 3px solid white;
}

.update-order p {
  cursor: pointer;
  border: 0px;
  background-color: transparent;
  font-size: 1.5em;
  text-shadow: 2px 2px 1px black;
}

.update-order p:hover {
  color: yellow;
  text-shadow: 3px 3px 3px black;
}
