html, body {
    height: 100%
}

.container {
  min-height: 100%;
  overflow: hidden;
}

.row-header {
  background: cyan;
}

.type-of-item h4 {
  font-weight: bold;
}

.create-pizza {
  background: red;
  min-height: 100%;
}

.confirm-order {
  background: red;
}

.topping-select  {

  background: green;
}

.topping-select  {
  padding: 20px;
}

.pizza-info {
  margin-bottom: -750px;
  padding-bottom: 750px;
  background: grey;
}
