html, body {
    height: 100%
}

.container {
  min-height: 100%;
  overflow: hidden;
}

.row-header {
  background: cyan;
}

.type-of-item {
  padding-top: 13px;
}

.type-of-item h4 {
  font-weight: bold;
  font-size: 1.8em;
  font-family: "Comic Sans MS", cursive, sans-serif;
}



.create-pizza {
  background: red;
  min-height: 100%;
}

.confirm-order {
  background: red;
}

.topping-select  {
  border: 3px solid black;
  background: red;
  width: 560px;
  text-shadow: -1px -1px 1px black;
}

.topping-select p {
  font-weight: bold;
}

.sauce-row {
  background: green;
  color: white;
  padding-top: 5px;
  padding-bottom: 18px;
}

.cheese-row {
  background: white;
  padding-top: 5px;
  padding-bottom: 18px;
}

.veggies-row {
  background: red;
  color: white;
  padding-top: 5px;
  padding-bottom: 18px;
}

.meats-row {
  background: green;
  color: white;
  padding-top: 5px;
  padding-bottom: 18px;
}

.seasoning-row {
  background: white;
  color: black;
  padding-top: 5px;
  padding-bottom: 18px;
}

.pizza-info {
  background: grey;
}

.sizeChoice input {

}
